{% extends "IutTrombiBundle:Prof:layout.html.twig" %}

{% block title %}
    {{ parent() }} - Groupe
    {% if semestre is defined %} 
        {{semestre.libelle}}
    {% else %}
        {{groupe.libelle}}
    {%endif%}
{% endblock %}

{% block group_title %}
    {{ parent() }} 
    {% if semestre is defined %} 
        {{semestre.libelle}}
    {% else %}
        {{groupe.libelle}}
    {%endif%}
{% endblock %}

{% block action_button %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Export <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><span class="input-group-addon">Feuille d'émargement</span></li>
            <li><div class="btn-group btn-group-justified">
                    <a class="btn btn-danger" href="{{ path('profExporterEmargementPDF',{'p_idGroupe': p_idGroupe, 'p_idSemestre': p_idSemestre}) }}">PDF</a>
                    <a class="btn btn-success" href="#">Excel</a>
                </div></li>
            <li class="divider"></li>
            <li><span class="input-group-addon">Trombinoscope</span> </li>
            <li><div class="btn-group btn-group-justified">
                    <a class="btn btn-danger" href="{{ path('profExporterTrombiPDF',{'p_idGroupe': p_idGroupe, 'p_idSemestre': p_idSemestre}) }}">PDF</a>
                    <a class="btn btn-success" href="#">Excel</a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    {% if semestre is defined and  etudiants is defined %} 
        {% if etudiants != null %}
            {%for etudiant in etudiants|sort %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ asset(etudiant.urlPhoto) }}" alt="{{ etudiant.nom }} {{ etudiant.prenom }}" class="img-responsive"/>
                        <div class="caption">
                            <h4>{{ etudiant.nom }}</h4>
                            <h6>{{ etudiant.prenom }}</h6>
                            {% for groupe_etudiant in etudiant.idGroupe %}
                                {% for groupe in groupes %}
                                    {% if groupe_etudiant.id == groupe.id %}
                                        <p class="text-muted">{{ groupe.libelle }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>  
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        {%if etudiants != null %}
            {%for etudiant in etudiants|sort %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ asset(etudiant.urlPhoto) }}" alt="{{ etudiant.nom }} {{ etudiant.prenom }}" class="img-responsive"/>
                        <div class="caption">
                            <h4>{{ etudiant.nom }} {{ etudiant.prenom }}</h4>
                            {% for td_tp in groupes %}
                                {% for groupe_etudiant in etudiant.idGroupe %}
                                    {% if groupe_etudiant.id == td_tp.id %}
                                        <p class="text-muted">{{ td_tp.libelle }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>  
                </div>
            {% endfor %}
        {% endif %}
    {%endif%}
{% endblock %}