{% extends "IutTrombiBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Ajouter des etudiants à un groupe
{% endblock %}

{% block group_title %}
    Ajout
{% endblock %}

{% block body %}
    <form action="{{path('modifMultiEtuGrp')}}" method="post">
        <div class="row">
            <div class="col-lg-2">
                <label for="groupeTD" class="form-label">Nouveau TD : </label>
            </div>
            <div class="col-lg-2">
                <select class="form-control" id="groupeTD" name="groupeTD">
                    {% for semestre in semestres %}
                        <option value='#' disabled> {{semestre.libelle}} : </option>
                        {% for td in groupes %}
                            {% if td.idSemestre != null and td.idSemestre == semestre %}
                                {% if td.idPere == null %}
                                    <option value="{{ td.id }}">{{ td.libelle }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>

            <div class="col-lg-offset-1 col-lg-2">
                <label for="groupeTP" class="form-label">Nouveau TP : </label>
            </div>
            <div class="col-lg-2">
                <select class="form-control" id="groupeTP" name="groupeTP">
                    {% for semestre in semestres %}
                        <option value='#' disabled> {{semestre.libelle}} : </option>
                        {% for td in groupes %}
                            {% if td.idSemestre != null and td.idSemestre == semestre %}
                                {% if td.idPere == null %}
                                    <option value="{{ td.id }}" disabled>{{ td.libelle }}</option>
                                    {% for tp in groupes %}
                                        {% if tp.idPere == td %}
                                            <option value="{{ tp.id }}"> &nbsp {{ tp.libelle }}</option>
                                        {% endif %}
                                    {% endfor%}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <input type="submit" class="btn btn-primary">
        </div>
        <br>
        <div class="row">
            <label class="form-label">Selectionner les étudiants à déplacer</label>
            <br>
            {% for semestre in semestres %}
                <div class="col-md-3 panel panel-default">
                    <p>{{semestre.libelle}}</p>
                    {% for td in groupes %}
                        {% if td.idSemestre == semestre and td.idPere == null %}
                            <div class="col-md-offset-1 panel panel-default">
                                <p>{{td.libelle}}</p>
                                {% for tp in groupes %}
                                    {% if tp.idPere == td %}
                                        <div class="col-md-offset-1 panel panel-default">
                                            <p>{{tp.libelle}}</p>
                                            {% for etudiant in etudiants %}
                                                {% for groupeEtudiant in etudiant.idGroupe %}
                                                    {% if groupeEtudiant == tp %}
                                                        <div class="col-md-offset-1">
                                                            <label>
                                                                <input type="checkbox" name="lesEtudiants[]" id="{{etudiant.id}}" value="{{etudiant.id}}">{{etudiant.nom}} {{etudiant.prenom}}</input>
                                                            </label>
                                                            <br>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %} 
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </form>
{% endblock %}
{#{% for etudiant in etudiants %}
    <br><label class ="form-label" for="{{etudiant.id}}">{{etudiant.nom}} {{etudiant.prenom}} </label>
    <input type="checkbox" name="lesEtudiants[]" id="{{etudiant.id}}" value="{{etudiant.id}}">
{% endfor%}#}
