{% extends "IutTrombiBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Résultat Recherche
{% endblock %}

{% block group_title %}
    Résultat de la recherche
{% endblock %}

{% block body %}
    {% if etudiants is empty %}
        <h2>Aucun étudiants ne correspond à votre recherche</h2>
    {% else %}
        {% for etudiant in etudiants %}
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="{{ asset(etudiant.urlPhoto) }}" alt="{{ etudiant.nom }} {{ etudiant.prenom }}" class="img-responsive"/>
                    <div class="caption">
                        <h4>{{ etudiant.nom }}</h4>
                        <h6>{{ etudiant.prenom }}</h6>
                        {% for groupe_etudiant in etudiant.idGroupe %}                      
                            <p class="text-muted">{{ groupe_etudiant.libelle }}</p>
                        {% endfor %}
                        <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#{{ etudiant.id }}ModModal">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>

                        <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#{{ etudiant.id }}SupModal">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>

                        <div class="modal fade" id="{{ etudiant.id }}SupModal" tabindex="-1" role="dialog" aria-labelledby="{{ etudiant.id }}SupModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="{{ etudiant.id }}SupModalLabel">Modification de {{ etudiant.nom }} {{ etudiant.prenom }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p> Voulez vous vraiment supprimer {{ etudiant.nom }} {{ etudiant.prenom }} ? </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('supp', {'idEtudiant':etudiant.id}) }}"><button type="button" class="btn btn-default" >Valider</button></a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="{{ etudiant.id }}ModModal" tabindex="-1" role="dialog" aria-labelledby="{{ etudiant.id }}ModModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="{{ etudiant.id }}ModModalLabel">Modification de {{ etudiant.nom }} {{ etudiant.prenom }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ path('modify') }}" method="POST">
                                            <div class="form-group">
                                                <input type="hidden" name="id" value="{{ etudiant.id }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="nom" class="control-label">Nom :</label>
                                                <input type="text" class="form-control" id="nom" name="nom" value="{{ etudiant.nom }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="prenom" class="control-label">Prenom :</label>
                                                <input type="text" class="form-control" id="prenom" name="prenom" value="{{ etudiant.prenom }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="no_etudiant" class="control-label">No Etudiant :</label>
                                                <input type="text" class="form-control" id="no_etudiant" name="no_etudiant" value="{{ etudiant.noetudiant }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="groupe_td" class="control-label">Groupe TD :</label>
                                                <select class="form-control" id="groupe_td" name="groupe_td">
                                                    {% for groupe in groupes %}
                                                        {% if groupe.idPere == null %}
                                                            {% if groupe in etudiant.idGroupe %}
                                                                <option value="{{ groupe.id }}" selected>{{ groupe.libelle }}</option>
                                                            {% else %}
                                                                <option value="{{ groupe.id }}">{{ groupe.libelle }}</option>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="groupe_tp" class="control-label">Groupe TP :</label>
                                                <select class="form-control" id="groupe-tp" name="groupe_tp">
                                                    {% for groupe in groupes%}
                                                        {% if groupe.idPere != null%}
                                                            {% if groupe in etudiant.idGroupe %}
                                                                <option value="{{ groupe.id }}" selected>{{ groupe.libelle }}</option>
                                                            {% else %}
                                                                <option value="{{ groupe.id }}">{{ groupe.libelle }}</option>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-primary">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        {% endfor %}
    {% endif %}                                   
{% endblock %}
